Source: caja-rename
Section: utils
Priority: optional
Maintainer: Robert Tari <robert.tari@gmail.com>
Build-Depends: debhelper (>= 10), dh-python, python3 (>= 3.6), python3-setuptools, python3-polib
Standards-Version: 4.0.1
Homepage: https://tari.in/www/software/caja-rename/
X-Python-Version: >= 3.6

Package: caja-rename
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-gi, gir1.2-gtk-3.0, caja, python3-caja
Description: Batch renaming extension for Caja
 An extension for the Caja file browser allowing users to rename multiple
 files/folders in a single pass.
 .
 The application can change the case, insert, replace and delete strings,
 as well as enumerate the selection. Any changes are instantly visible in
 the preview list. The user interface strives to be as simple as
 possible, without confusing advanced operations.
